*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1a1a1c;
    color: #fff;
}

.coin-app
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #fff;
}

.coin-search
{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-search-text
{
    margin-bottom: 32px;
    text-align: center;
}

.coin-input
{
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 200%);
    color: #e2e2e2;
    outline: none;
}

.coin-input::placeholder
{
    color: #e2e2e2;
}

.coin-container
{
    display: flex;
    justify-content: center;
}

.coin-row
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin
{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1
{
    font-size: 16px;
    width: 150px;
}

.coin img
{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol
{
    text-transform: uppercase;
}

.coin-data
{
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.coin-price
{
    width: 110px
}

.coin-volume
{
    width: 155px;

}

.coin-marketcap
{
    width: 230px;
}

.coin-percent
{
    width: 100px;
}

.red
{
    color: #f00606;
}

.green
{
    color: #11d811;
}

/*Add coin section*/

#add-coin
{
    margin-top: 5rem;
}

.add-coin-section
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.left, .right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.left
{
    margin-right: 1rem;
}

.right
{
    margin-left: 1rem;
}

.right input, .left input, textarea
{
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: none;
    background: #101011;
    outline: none;
}

.add-coin-btn
{
    padding: 1rem 3rem;
    margin: 3rem 0;
    background: #101011;
    font-size: 1.25em;
    cursor: pointer;
    outline: none;
}

/*Hiding number input arrows*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}